.Rproj.user
.Rhistory
.RData
.Ruserdata
Presentation_final.html
Presentation_final_Marco.html
Presentation_final_Marco_cache
Presentation_final_Marco_files
Presentation_final_files
slidesMarco.html
slidesMarco_files
